* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 50.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
}

h1, h2, h3, h4, h5 {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
}