.intro-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}







